<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#820000"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant Rank for you">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sintony&display=swap" rel="stylesheet">
  <title>EatsRank - Rank The Rest</title>
</head>
<body>
  <button tabindex="0" class="skip-link">Go To Content</button>
  <header class="header">
    <div class="header__wrapper">
      <div class="header__inner">
        <i class="fa-solid fa-utensils fa-xl"></i>
        <h1 class="header__title">EatsRank</h1>
      </div>
      <button tabindex="0" id="menu" aria-label="menu button" class="header__menu">☰</button>
    </div>
    <nav id="drawer" class="nav">
      <ul class="nav__lists">
        <li class="nav__item"><a href="#/">Home</a></li>
        <li class="nav__item"><a href="#/favorite">Favorite</a></li>
        <li class="nav__item"><a href="https://github.com/flyingthacat">About Us</a></li>
        <li class="nav__item">
          <form onsubmit='return false' class="searchBar">
            <input id="searchInput" class="searchBox" type="text" placeholder="Search..">
            <button aria-label="search button" id="searchButton" type="submit"><i class="fa-solid fa-search fa-xl"></i></button>
          </form>
        </li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <div class="hero__inner">
      <h1 tabindex="0" class="hero__title">Find Your Favorite Restaurant</h1>
      <p tabindex="0" class="hero__tagline">Make your day better with your favorite restaurant</p>
    </div>
  </div>

  <main id="maincontent" tabindex="0">
    <section class="content">
    </section>
  </main>
  <footer>
    <p class="copyright">Copyright <span>&copy;</span> 2023 - EatsRank</p>
    <ul>
      <li><a href="#/">Home</a></li>
      <li><a href="#/favorite">Favorite</a></li>
      <li><a href="https://github.com/flyingthacat">About Us</a></li>
    </ul>
  </footer>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
